
<!--navbar-->
    <nav class="navbar fixed-top navbar-expand-sm bg-light justify-content-between">
      <!--logo-->
      <div>
      <%= link_to(image_tag("LogoSmallNoWords.jpg", style: "width:27px"), general_path_url) %> Col | Pract
      </div>
    </nav>

<div class="container">
   <div class="row">
      <div class="col mt-3">
         <div id="clearance" class="sign-in">
           <div class="center-div">
              <h2><%= t(".title") %></h2>
           </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col mt-3">
         <div class="center-div">
            <div class="center-div">
              <%= render partial: '/sessions/form' %>
           </div>
         </div>
      </div>
   </div>
</div>
