<%= form_with(model: glossary_session, local: true) do |form| %>

   <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit "Exit Glossary >", class: 'invisible-button' %>
  </div>

<% end %>
