<!--general landing page-->

<!--navbar-->
 <nav class="navbar fixed-top navbar-expand-sm bg-light justify-content-between">
   <!--logo-->
   <%= link_to(image_tag("LogoSmallNoWords.jpg", style: "width:40px"), general_path_url) %>


   <!-- Links -->
   <ul class="navbar-nav d-flex" id="navbar-item">
     <li>
        <div >
         <%= link_to "Sign in", sign_in_path %>
       </div>
     </li>
   </ul>
 </nav>

<!-- start page content-->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1> Col|Pract</h1>
      <h2>Practice Colposcopy Online</h2>
      <h4><%= link_to "> Get Started", sign_up_path %></h4>

    </div>
    <div class="col-sm">
      <%= image_tag("ComputerColorful.jpg", id: "landing-image") %>
    </div>
  </div>

  <div class="row">
    <br/><br/><br/><br/><br/><br/><br/>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>What is Col|Pract?</h3>
      <p>ColPract is a web application developed by a collboration between the Univeristy of Virginia Gynecology and University of Virgina's Dependable Systems and Analytics Lab.</p>
      <p>It was made for the purpose to help medical students and residents strengthen their skills in Colposcopy.</p>
    </div>
  </div>
</div>
<!--end page content-->

<!-- footer-->
<footer class="pt-4 my-md-5 pt-md-5 border-top bg-white">
   <div class="row">
     <div class="col-12 col-md">
      <img class="mb-2" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
      <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
     </div>
     <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
         <li><a class="text-muted" href="#">Cool stuff</a></li>
         <li><a class="text-muted" href="#">Random feature</a></li>
         <li><a class="text-muted" href="#">Team feature</a></li>
         <li><a class="text-muted" href="#">Stuff for developers</a></li>
         <li><a class="text-muted" href="#">Another one</a></li>
         <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
     </div>
     <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
         <li><a class="text-muted" href="#">Resource</a></li>
         <li><a class="text-muted" href="#">Resource name</a></li>
         <li><a class="text-muted" href="#">Another resource</a></li>
         <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
     </div>
     <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
         <li><a class="text-muted" href="#">Team</a></li>
         <li><a class="text-muted" href="#">Locations</a></li>
         <li><a class="text-muted" href="#">Privacy</a></li>
         <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
     </div>
   </div>
 </footer>
