<div class="summary">


<strong>Cervical Biopsies:</strong>
<ul style="list-style-type:none;">
   <li><%= @image_set.cervical_biopsies %></li>
</ul>

<strong>ECC:</strong>
<ul style="list-style-type:none;">
   <li><%= @image_set.ECC %></li>
</ul>

</div>
