
<div>
  <h3>Summary Page</h3>
</div>


<div class="summary">

<p>
  <strong>Cervical Biopsies: </strong>
  <%= @image_set.cervical_biopsies %>
</p>

<p>
  <strong>ECC: </strong>
  <%= @image_set.ECC %>
</p>

</div>
