<h1>Follow-Up Survey</h1>

<p id="alert"><%= alert %></p>
<p>Directions: Please select a choice that best reflects your answer for each question. After the survey, you will be redirected to take a pre-test.</p>
<%= render 'form', post_survey: @post_survey %>
