  <!--displaying the test question-->
  <div class="question-field">
     <% if test_question.question != nil %>
      <%= label_tag test_question.question%>
     <%end%>

     <%if test_question.img_url != nil %>
      <%= image_tag(test_question.img_url, style: 'width:10%') %>
     <%end%>
  </div>

  
