<p id="notice"><%= notice %></p>

<%= render 'test_questions', test_question: @test_question%>

<%= link_to 'Edit', edit_test_question_path(@test_question) %>
<%= link_to 'Back', test_questions_path %>
