<h1>New Pre Survey</h1>

<p class="text-center" id="alert"><%= alert %></p>
<% flash.each do |name, msg| %>
   <div>
      <%= msg %>
   </div>
<% end %>

<%= render 'form', pre_survey: @pre_survey %>
