/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* COLORS */
 /* CSS HEX */
 :root {
 --cadet-grey: #99a3aeff;
 --white: #ffffffff;
 --pale-cerulean: #99cbedff;
 --shadow-blue: #6689a5ff;
 --charcoal: #2d3e4dff;
 }
 /* to use colors:
 use var(...) function
 .my-green-component{
     background-color: var(--english-green-color);
 }
 */


.navbar-custom {
    background-color: var(--shawdow-blue);
}

a {
   font-family: 'Courier New', monospace;
}
body {
    font-family: 'Courier New', monospace;
 }

h1 {
  font-size: 4.5vw;
  color: var(--charcoal)
}

h3 {
  font-size: 2.5vw;
}

p {
  font-size: 2vw;
  font-family: 'Courier New', monospace;
}

.centered-img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.invisible-button {
  background: transparent;
  border: none !important;
}


.hide {
  display: none;
}


#v-pills-tab {
  font-size: 1.5vw;
  text-align: center;
}
