/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.invisible-button {
  background: transparent;
  border: none !important;
}

.hide {
  display: none;
}

h1 {
  font-size: 4.5vw;
}

h3 {
  font-size: 2.5vw;
}

p {
  font-size: 2vw;
}

body {
  font-size: 1vw;
}

#v-pills-tab {
  font-size: 1.5vw;
  text-align: center;
}
