// Place all the styles related to the GlossarySessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.modal-link {
  background: transparent;
  border: none !important;
  color: blue;
  text-decoration: underline;
}

.glossary {
   .title {
      padding-top: 25px;
   }
   h2 {
      text-align: center;
   }
   h5 {
      font-weight: bold;
   }
   img {
      margin-top: 10px;
   }
   caption {
      text-align: right;
      margin-top: 20px;
   }
   .table {
      border-bottom: 2px solid #dddddd;
      margin-top: 10px;
   }
}
