// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.test {
   a {
      font-style: 'Noto Sans', sans-serif;
   }
   .question {
      margin-top: 10px;
      font-style: 'Noto Sans', sans-serif;
   }
   ul {
      li {
         margin-top: 3px;
         font-style: 'Noto Sans', sans-serif;
      }
   }
   table {
      width: 100%;
   }
   th, td {
      padding: 5px;
   }

   .radio-cell {
      td {
         align: center;
      }
   }
}
