<!--navbar-->
<nav class="navbar fixed-top navbar-expand-sm bg-light justify-content-between">
   <!--logo-->
   <div>
   <%= image_tag "logos/LogoSmallNoWords.jpg", style: "width:27px" %> Col | Pro
   </div>
</nav>
<!--end nav bar-->

<h1>Test</h1>

Directions: Please select the BEST answer choice for each question.

<%= render 'form', test: @test %>
