<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%
  }
  h2 {
     text-align: center;
 }

</style>

<h2>The ASCCP Terminology for Colposcopic Practice</h2>

<%= link_to 'Exit Glossary', signed_in_root_url, class: 'float-right' %>

<%=image_tag("GlossaryChart.jpeg") %>
